@model ProyectoWeb.Models.UsuariosInyeccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsuariosInyeccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contrasenna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasenna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mostrar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mostrar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
